.container-nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: transparent;
  position: relative;
  /* display: flex; */
}

.hide-me {
  display: none;
}

.menu-icon {
  display: none;
}

.x-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 5w;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.nav-elements ul li:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}


@media (max-width: 850px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 850px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .x-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    top: 60px;
    background-color: #d9d9d9;
    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}